<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/common.css">
</head>
<body>
  <div class="container">
      <%- include('nav', {}); %>
    <div id="content">
      <h1><%= req.params.ticker %></h1>
      <ul>
      <% Object.keys(stonkData.data).forEach(function(key) { %>
      <li><%= key %></li>
      <ul>
        <li><%= stonkData.data[key] %></li>
      </ul>
    <% }); %>
    </div>
      <div id="dd">
        <%- dd %>
      </div>
      <button><a href="/stonks/<%= req.params.ticker %>/upsert">edit DD</a></button>
    </ul>
  </div>
</body>
</html>