<%- include('header',{stylesheets: ['/css/stonk.css']}); %>
  <div class="root">
    <%- include('nav', {}); %>
    <div class="mainContent">
      <div class="stonkInfoContainer">
        <h1><%= req.params.ticker %></h1>
        <div class="stonkInfo">
          <p class="stonkDescription">
            <%= stonkData.data.description %>
          </p>
          <button class="toggleInfo">toggle</button>
        </div>
        <div id="ddContainer">
          <h2>Due Dilligence</h2>
          <p><%- dd %></p>
          <button class="ddSubmitBtn"><a class="ddSubmitLink"href="/stonks/<%= req.params.ticker %>/upsert">edit DD</a></button>
        </div>
      </div>
      <div class="notificationContainer">
        <h2>Notifications</h2>
        <div id="notifications"></div>
          <form class="notificationForm" action="/addNotification/<%= req.params.ticker %>" method="POST">
            <label for="">Condition type</label>
            <select name="conditionType" class="notificationFormInput">
              <option value="lte" name='lte'><=</option>
              <option value="gte" name='gte'>>=</option>
            </select>
            <label for="targetPrice">Target Price</label>
            <input type="text" name="targetPrice" class="notificationFormInput">
            <label for="">Notification Type</label>
            <select name="notificationType" class="notificationFormInput">
              <option value="txt" name='txt'>txt</option>
              <option value="email" name='email'>email</option>
            </select>
            <input type="submit" value="add notification" class="notificationFormInputBtn">
          </form>
        </div>
      </div>
  </div>
<script src="/js/stonk-page.js"></script>
<%- include('footer'); %>