<div class="root">
<%- include('header',{stylesheets: ['/css/upsertdd.css']}); %>
<%- include('nav'); %>
  <form class="upsertForm"method="POST" action="/upsertDD/<%= stonk.ticker %>">
    <textarea class="upsertTxtArea"name="dd" cols="30" rows="25" placeholder=""><%= stonk.dd %></textarea>
    <input class="upsertSubmit" type="submit">
  </form>
<%- include('footer'); %>
</div>